@model MoneySaver.Web.ViewModels.ViewComponents.GetRecordsByDateComponentViewModel

<form method="post" asp-controller="Wallets" asp-action="DateSorted">
    <span style="float: left;">
        <input type="date" class="form-control" asp-for="StartDate" placeholder="Search Here" value="@Model.DefaultEndDate">
    </span>

    <span style="float: left;">
        <input type="date" class="form-control" asp-for="EndDate" placeholder="Search Here" value="@Model.DefaultEndDate">
    </span>

    <input type="hidden" class="form-control" asp-for="Id">
    &nbsp;
    <input class="btn btn-primary btn-sm" type="submit" value="Search" />

</form>


@*<form method="post" asp-controller="Wallets" asp-action="DateSorted">
        <span style="float: left;">
            <input type="text" class="form-control" id="datepicker" asp-for="@Model.StartDate" value="@Model.DefaultStartDate">
        </span>
        <span style="float: left;">
            <input type="text" class="form-control" id="datepicker2" asp-for="@Model.EndDate" value="@Model.DefaultEndDate">
        </span>
            <input type="hidden" class="form-control" asp-for="@Model.Id">
            <input class="btn btn-primary btn-sm" type="submit" value="Search" />
    </form>
*@




@*
    <form method="post" asp-controller="Records" asp-action="DateSorted">
        <span style="float: left;">
            <input type="date" class="form-control" asp-for="StartDate" placeholder="Search Here">
        </span>

        <span style="float: left;">
            <input type="date" class="form-control" asp-for="EndDate" placeholder="Search Here">
        </span>

        <input type="hidden" class="form-control" asp-for="WalletId">
        &nbsp;
        <input class="btn btn-primary btn-sm" type="submit" value="Search" />
    </form>
*@