@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="main-panel">
            <div class="content-wrapper align-items-center auth">
                <div class="row">
                    <div class="col-12">
                        <div class="auth-form-light text-center p-5">
                            <div class="brand-logo">
                                <img style="width: 50%; align-content: center;" src="~/images/logo-big_money_saver_horizontal.png" alt="Money Saver Logo">
                            </div>
                            <h4>Welcome to Money Saver!</h4>
                            <h6 class="font-weight-light">Create your account now!</h6>
                            <section>   
                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group text-left">
                                        <label asp-for="Input.Email"><i class="mdi mdi-email text-primary"> </i>Email</label>
                                        <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Email" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group text-left">
                                        <label asp-for="Input.Password"><i class="mdi mdi-lock text-primary"> </i>Password</label>
                                        <input asp-for="Input.Password" class="form-control form-control-lg" placeholder="Password" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group text-left">
                                        <label asp-for="Input.ConfirmPassword"><i class="mdi mdi-marker-check text-primary"> </i>Confirm Password</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" placeholder="Confirm Password" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">REGISTER</button>
                                    <div class="text-center mt-4 font-weight-light">
                                        Already have an account? <a href="/Identity/Account/Login" class="text-primary">Login</a>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

















<div class="row">
   
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
