@using MoneySaver.Web.Models.Records
@using System.Globalization
@using MoneySaver.Web.Models.Statistics


@model StatisticsWalletViewModel
@{
    this.ViewData["Title"] = "Statistics - " + Model.WalletName;
}
<!-- partial -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.WalletName - All Records</h4>
        <div class="row pb-5">
            <vc:add-record wallet-id="@Model.WalletId"></vc:add-record>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-light"><i class="mdi mdi-alert-circle-outline"></i></button>
                <button type="button" class="btn btn-light"><i class="mdi mdi-delete-empty"></i></button>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-light"><i class="mdi mdi-printer"></i></button>
            </div>
            @*<div class="btn-group ml-auto mr-2 border-0 d-none d-md-block">
            <vc:search-record search-term="@Model.SearchTerm" wallet-id="@Model.WalletId"></vc:search-record>
        </div> *@
            <div class="btn-group">
                <button type="button" class="btn btn-light"><i class="mdi mdi-cloud"></i></button>
                <button type="button" class="btn btn-light"><i class="mdi mdi-dots-vertical"></i></button>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="order-listing" class="table">
                    <thead>
                        <tr>
                            <th>Last Modified</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th> Wallet</th>
                            <th>Category</th>
                            <th>Actions</th>
                            <!-- <th>Delete</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr class="card-shadow">
                                <td>@Model.ModifiedOn</td>
                                <td style="width: 25%;">@category.Name</td>
                                <td>     
                                        <span class="badge badge-success">@category.TotalRecordsCount</span>
                                </td>

                                <td>

                                    @if (@category.TotalSpent >= 0)
                                    {
                                        <p class="text-success">
                                            <strong>
                                                + @category.TotalSpent
                                            </strong>
                                        </p>
                                    }

                                    else
                                    {
                                        <p class="text-danger">
                                            <strong>
                                                @category.TotalSpent
                                            </strong>
                                        </p>
                                    }

                                </td>
                                <td><span>pohar4eni izobshto</span>@Model.TotalAmount</td>
                                <td>
    

                                    <a href="/Categories/Details?categoryId=@category.Id" class="badge badge-alert">@category.Name</a>

                                </td>
                                <td>
                                    <a href="/Records/Edit?categoryId=@category.Id"><span class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit record"><i class="fa fa-edit fa-lg"></i></span></a>
                                    &nbsp;
                                    <a href="/Records/Delete?categoryId=@category.Id"><span class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete record"><i class="fa fa-trash fa-lg"></i></span></a>

                                    <!--<span class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Edit</span>-->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.Categories.Count() == 0)
                {
                    <br />
                    <div class="alert alert-warning" role="alert">
                        <span>There are no categories in wallet <strong>"@Model.WalletName</strong>".</span>
                    </div>

                    <a href="javascript:history.back()"><button class="btn btn-primary">Back</button></a>
                }
                <!-- Pagination-->
                <div class="d-flex justify-content-center pt-5">
                    <nav>
                        <ul class="pagination rounded-flat pagination-success">
                            <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");


            $(".card-shadow").hover(
                function () {
                    $(this).addClass('shadow-sm').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-sm');
                }
            );

            // document ready
        });

    </script>





    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-addons.js"></script>
    <script src="~/js/x-editable.js"></script>
    <script src="~/js/dropify.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/jquery-file-upload.js"></script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-repeater.js"></script>

}
