@using MoneySaver.Web.Models.Records
@using System.Globalization
@using MoneySaver.Web.Models.Statistics


@model StatisticsWalletViewModel
@{
    this.ViewData["Title"] = "Statistics - " + Model.WalletName;
    string badgeClassName = string.Empty;
}
<!-- partial -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.WalletName - Incomes & Expenses Report</h4>
        <p><i class="fa fa-wallet"></i>Current amount of @Model.WalletName:</p>
        <br />
        @if (Model.TotalAmount < 0)
        {
            badgeClassName = "danger";
        }

        else if (Model.TotalAmount == 0)
        {
            badgeClassName = "secondary";
        }

        else
        {
            badgeClassName = "success";
        }
        <span class="text-@badgeClassName"><h2>@Model.TotalAmount @Model.Currency</h2></span>
        <br /> <br />
               <div class="row pb-5">
                   <vc:add-record wallet-id="@Model.WalletId"></vc:add-record>
                   <vc:all-records-by-wallet wallet-id="@Model.WalletId"></vc:all-records-by-wallet>
                   <div class="btn-group mr-2">
                       <button type="button" class="btn btn-light"><i class="mdi mdi-alert-circle-outline"></i></button>
                       <button type="button" class="btn btn-light"><i class="mdi mdi-delete-empty"></i></button>
                   </div>
                   <div class="btn-group mr-2">
                       <button type="button" class="btn btn-light"><i class="mdi mdi-printer"></i></button>
                   </div>
                   <div class="btn-group ml-auto mr-2 border-0 d-none d-md-block">
                      
                   </div>
                   <div class="btn-group">
                       <button type="button" class="btn btn-light"><i class="mdi mdi-cloud"></i></button>
                       <button type="button" class="btn btn-light"><i class="mdi mdi-dots-vertical"></i></button>
                   </div>
               </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="order-listing" class="table text-center">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Records</th>
                            <th>Incomes</th>
                            <th>Expenses</th>
                            <th>Last Added</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                        <tr class="card-shadow">
                            <td><a href="/Categories/Details/@category.Id" class="badge badge-primary">@category.Name</a></td>
                            <td>
                                <span class="badge badge-warning text-light">@category.TotalRecordsCount</span>
                            </td>

                            <td>
                                @if (category.TotalIncomesAmount == 0)
                                {
                                    badgeClassName = "secondary";
                                }

                                else
                                {
                                    badgeClassName = "success";
                                }
                                <span class="text-@badgeClassName"><strong>+ @category.TotalIncomesAmount @Model.Currency</strong></span>
                            </td>
                            <td>
                                @if (category.TotalExpensesAmount == 0)
                                {
                                    badgeClassName = "secondary";
                                }

                                else
                                {
                                    badgeClassName = "danger";
                                }
                                <span class="text-@badgeClassName"><strong>@category.TotalExpensesAmount @Model.Currency</strong></span>
                            </td>
                            <td><span class="badge badge-outline-primary float-left" data-toggle="tooltip" data-placement="bottom" title="Last modified date"></span> @Model.ModifiedOn</td>
                            <td>
                                <a href="/Records/Edit?categoryId=@category.Id"><span class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit record"><i class="fa fa-edit fa-lg"></i></span></a>
                                &nbsp;
                                <!--<span class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Edit</span>-->
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="font-weight-bolder"><span class="badge badge-outline-dark">Total:</span></td>
                            <td><span class="badge badge-outline-warning">@Model.RecordsCount</span></td>
                            <td>
                                @if (Model.Incomes == 0)
                                {
                                    badgeClassName = "secondary";
                                }

                                else
                                {
                                    badgeClassName = "success";
                                }
                                                        <span class="text-@badgeClassName font-weight-bolder badge badge-outline-@badgeClassName">+ @Model.Incomes @Model.Currency</span>
                                                    </td>
                            <td>
                                @if (Model.Outcomes == 0)
                                {
                                    badgeClassName = "secondary";
                                }

                                else
                                {
                                    badgeClassName = "danger";
                                }
                                                        <span class="text-@badgeClassName font-weight-bolder badge badge-outline-@badgeClassName">@Model.Outcomes @Model.Currency</span>
                                                    </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                @if (Model.Categories.Count() == 0)
                {
                    <br />
                    <div class="alert alert-warning" role="alert">
                        <span>There are no categories in wallet <strong>"@Model.WalletName</strong>".</span>
                    </div>

                    <a href="javascript:history.back()"><button class="btn btn-primary">Back</button></a>
                }
                <!-- Pagination-->
                <div class="d-flex justify-content-center pt-5">
                    <nav>
                        <ul class="pagination rounded-flat pagination-success">
                            <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");


            $(".card-shadow").hover(
                function () {
                    $(this).addClass('shadow-sm').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-sm');
                }
            );

            // document ready
        });

    </script>





    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-addons.js"></script>
    <script src="~/js/x-editable.js"></script>
    <script src="~/js/dropify.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/jquery-file-upload.js"></script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-repeater.js"></script>

}
