@using MoneySaver.Web.ViewModels.Records.Enums
@using MoneySaver.Web.ViewModels.Categories
@using MoneySaver.Web.ViewComponents
@using System.Linq;
@model AddCategoryInputModel
@{
    this.ViewData["Title"] = "Add Category " + "- " + @Model.WalletName;
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@this.ViewData["Title"]</h4>
            <p class="card-description">
                Add a new category to
                <a class="badge badge-primary" asp-controller="Wallets" asp-action="Details" asp-route-id="@Model.WalletId">@Model.WalletName</a>
            </p>
            <form class="forms-sample" asp-controller="Categories" asp-action="Add" method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <span class="mdi mdi-lead-pencil text-primary"></span>
                    <label asp-for="Name"><span class="font-weight-bold">Name</span></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Name" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                @* <div class="form-group">
            <label for="Category">Wallet</label>
            <select asp-for="@Model.WalletId" class="js-example-basic-single" style="width:100%">
                @foreach (var wallet in Model.Wallets)
                {
                    <option value="@wallet.WalletId">@wallet.WalletName</option>
                }
            </select>
        </div>
                *@
                <input type="hidden" asp-for="WalletId">
                <span class="text-danger" asp-validation-for="WalletId"></span>
                <div class="form-group">
                    <span class="mdi mdi-format-color-fill text-primary"></span>
                    <label asp-for="BadgeColor"><span class="font-weight-bold">Badge Color</span></label>
                    <select class="form-control" style="width:100%" asp-for="BadgeColor" placeholder="Type">
                        <option disabled selected class="default-option"> -- select a badge color -- </option>
                        @foreach (string name in Enum.GetNames(typeof(BadgeColor)))
                        {
                            var color = string.Empty;

                            if (name.ToLower() == "danger")
                            {
                                color = "Red";
                            }

                            else if (name.ToLower() == "success")
                            {
                                color = "Green";
                            }

                            else if (name.ToLower() == "warning")
                            {
                                color = "Orange";
                            }

                            else if (name.ToLower() == "info")
                            {
                                color = "Blue";
                            }

                            else if (name.ToLower() == "dark")
                            {
                                color = "Dark";
                            }

                            else if (name.ToLower() == "primary")
                            {
                                color = "Violet";
                            }

                            else if (name.ToLower() == "secondary")
                            {
                                color = "Gray";
                            }

                            <option class="optText-@name.ToString().ToLower()" value="@name">@color</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="BadgeColor"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-sm mr-2">
                    Submit
                </button>
                <vc:back-button></vc:back-button>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <style>
        .optText-danger {
            color: #d9534f;
            font-size: 16px;
        }

        .optText-success {
            color: #5cb85c;
            font-size: 16px;
        }

        .optText-warning {
            color: #f0ad4e;
            font-size: 16px;
        }

        .optText-info {
            color: #5bc0de;
            font-size: 16px;
        }

        .optText-primary {
            /*color: #0275d8;*/
            color: #7571f9;
            font-size: 16px;
        }

        .optText-secondary {
            color: #6c757d;
            font-size: 16px;
        }

        .optText-dark {
            color: #292b2c;
            font-size: 16px;
        }

        .default-option {
            font-size: 16px;
        }
    </style>
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <!-- it make sidebar not collapsable
    <script src="~/js/template.js"></script>
    end of script-->
    <script src="~/js/settings.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/file-upload.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/select2.js"></script>
}