@using MoneySaver.Web.ViewModels.Categories
@using System.Globalization
@using MoneySaver.Web.ViewModels.Records.Enums

@model CategoryRecordsViewModel
@{
    this.ViewData["Title"] = "All Records - " + Model.Category + " - " + Model.WalletName;
}
<!-- partial -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Category <span class="badge badge-@Model.BadgeColor.ToString().ToLower()">@Model.Category</span> - All Records - @Model.WalletName</h4>
        <div class="col-12">
            <div class="btn-group mr-1">
                <vc:add-record wallet-id="@Model.WalletId"></vc:add-record>
            </div>
            <div class="btn-group mr-2">
                <vc:edit-category category-id="@Model.CategoryId" wallet-id="@Model.WalletId"></vc:edit-category>
            </div>
            <div class="btn-group mr-4">
                <vc:get-records-by-date start-date="@Model.StartDate" end-date="@Model.EndDate" id="@Model.WalletId"></vc:get-records-by-date>
            </div>
            <div class="btn-group mr-2">
                <vc:search-record search-term="@Model.SearchTerm" wallet-id="@Model.WalletId"></vc:search-record>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="order-listing" class="table text-center table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Last Added</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th> Wallet</th>
                            <th>Category</th>
                            <th>Edit/Delete</th>
                            <!-- <th>Delete</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.Records)
                        {
                            <tr class="card-shadow" onclick="window.location='/Records/Edit?id=@record.Id&walletId=@Model.WalletId'">

                                <td><span class="badge badge-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Create date">@record.CreatedOn</span></td>
                                <td style="width: 25%;">@record.Description</td>
                                <td>
                                    @if (record.Type == RecordTypeInputModel.Expense)
                                    {
                                        <span class="badge bg-inverse-danger">@record.Type</span>
                                    }

                                    else if (record.Type == RecordTypeInputModel.Income)
                                    {

                                        <span class="badge bg-inverse-success">@record.Type</span>
                                    }
                                </td>

                                <td>

                                    @if (record.Amount < 0)
                                    {
                                        <p class="text-danger"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }

                                    else if (record.Amount == 0)
                                    {
                                        <p class="text-secondary"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }

                                    else
                                    {
                                        <p class="text-success bold"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }
                                </td>
                                <td>@Model.WalletName</td>
                                <td>
                                    <a href="/Categories/Details?id=@Model.CategoryId" class="badge badge-@Model.BadgeColor.ToString().ToLower()">@Model.Category</a>
                                </td>
                                <td>
                                    <vc:edit-record record-id="@record.Id" wallet-id="@Model.WalletId"></vc:edit-record>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.Records.Count() == 0)
                {
                    <br />
                    <div class="alert alert-warning" role="alert">
                        <span>No records found</span>
                    </div>
                }
                <br />
                <vc:back-button></vc:back-button>
                <!-- Pagination-->
                <div class="d-flex justify-content-center pt-5">
                    <nav>
                        <ul class="pagination rounded-flat pagination-success">
                            <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End Pagination-->


            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");


            $(".card-shadow").hover(
                function () {
                    $(this).addClass('shadow-sm').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-sm');
                }
            );

            // document ready
        });
    </script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-addons.js"></script>
    <script src="~/js/x-editable.js"></script>
    <script src="~/js/dropify.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/jquery-file-upload.js"></script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-repeater.js"></script>

}
