@using MoneySaver.Web.ViewModels.Categories
@using System.Globalization
@using MoneySaver.Web.ViewModels.Records.Enums

@model CategoryRecordsViewModel
@{
    this.ViewData["Title"] = "All Records - " + Model.Category + " - " + "Page " + Model.PageNumber + " - "+ Model.WalletName;
}
<!-- partial -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Category <a href="/Categories/Details/@Model.CategoryId"><span class="badge badge-@Model.BadgeColor.ToString().ToLower()">@Model.Category</span></a>
            - All Records
            - Page <span class="font-weight-bold text-info">@Model.PageNumber</span>
            - <a class="badge badge-primary" asp-controller="Wallets" asp-action="Details" asp-route-id="@Model.WalletId">@Model.WalletName</a>
        </h4>
        <div class="col-12 mb-3 form-inline">
            <div class="input-group mr-2 mr-sm-1 mt-2 mb-1">
                <div class="btn-group mr-2">
                    <vc:add-record wallet-id="@Model.WalletId"></vc:add-record>
                </div>
                <div class="btn-group mr-2">
                    <vc:edit-category category-id="@Model.CategoryId" wallet-id="@Model.WalletId"></vc:edit-category>
                </div>
                <div class="btn-group mr-2">
                    <vc:delete-category category-id="@Model.CategoryId" wallet-id="@Model.WalletId"></vc:delete-category>
                </div>
            </div>
                    <div class="btn-group mr-4">
                        <vc:get-records-in-category-by-date start-date="@Model.StartDate" end-date="@Model.EndDate" category-id="@Model.CategoryId"></vc:get-records-in-category-by-date>
                    </div>
                    <div class="btn-group mr-2">
                        <vc:search-records-in-category category-id="@Model.CategoryId" search-term="@Model.SearchTerm"></vc:search-records-in-category>
                    </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="order-listing" class="table text-center table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Last Added</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Edit/Delete</th>
                            <!-- <th>Delete</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.Records)
                        {
                            <tr class="card-shadow">

                                <td><span class="badge badge-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Create date">@record.CreatedOn</span></td>
                                <td style="max-width: 25%;">@record.Description</td>
                                <td>
                                    @if (record.Type == RecordTypeInputModel.Expense)
                                    {
                                        <span class="badge bg-inverse-danger">@record.Type</span>
                                    }

                                    else if (record.Type == RecordTypeInputModel.Income)
                                    {

                                        <span class="badge bg-inverse-success">@record.Type</span>
                                    }
                                </td>

                                <td>

                                    @if (record.Amount < 0)
                                    {
                                        <p class="text-danger"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }

                                    else if (record.Amount == 0)
                                    {
                                        <p class="text-secondary"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }

                                    else
                                    {
                                        <p class="text-success bold"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }
                                </td>
                                <td>
                                    <a href="/Categories/Details?id=@Model.CategoryId" class="badge badge-@Model.BadgeColor.ToString().ToLower()">@Model.Category</a>
                                </td>
                                <td>
                                    <vc:edit-record record-id="@record.Id" wallet-id="@Model.WalletId"></vc:edit-record>
                                    <vc:delete-record-small-button record-id="@record.Id"></vc:delete-record-small-button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.Records.Count() == 0)
                {
                    <br />
                    <div class="alert alert-warning" role="alert">
                        <span>No records found</span>
                    </div>
                }
                <br />
                <vc:back-button></vc:back-button>
                <!-- Pagination-->
                <!-- Pagination-->
                <div style="display: inline;">
                        <partial name="_CategoryPagingPartial" model="@Model" />
                    <!-- End Pagination-->
                </div>
                <!-- End Pagination-->


            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");


            $(".card-shadow").hover(
                function () {
                    $(this).addClass('shadow-sm').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-sm');
                }
            );

            // document ready
        });
    </script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-addons.js"></script>
    <script src="~/js/x-editable.js"></script>
    <script src="~/js/dropify.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/jquery-file-upload.js"></script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-repeater.js"></script>

}
