@using MoneySaver.Web.Models.Categories
@using System.Globalization
@using MoneySaver.Web.Models.Records.Enums

@model CategoryRecordsViewModel
@{
    this.ViewData["Title"] = "All Records - " + Model.Category + " - " + Model.WalletName;
    int counter = 0;
    string badgeClassName = string.Empty;
}
<!-- partial -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Category - All Records - @Model.WalletName</h4>
        <div class="row pb-5">
            <vc:add-record wallet-id="@Model.WalletId"></vc:add-record>
            <vc:wallet-statistics wallet-id="@Model.WalletId"></vc:wallet-statistics>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-light"><i class="mdi mdi-alert-circle-outline"></i></button>
                <button type="button" class="btn btn-light"><i class="mdi mdi-delete-empty"></i></button>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-light"><i class="mdi mdi-printer"></i></button>
            </div>
            <div class="btn-group ml-auto mr-2 border-0 d-none d-md-block">
                <vc:search-record search-term="@Model.SearchTerm" wallet-id="@Model.WalletId"></vc:search-record>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-light"><i class="mdi mdi-cloud"></i></button>
                <button type="button" class="btn btn-light"><i class="mdi mdi-dots-vertical"></i></button>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="order-listing" class="table text-center">
                    <thead>
                        <tr>
                            <th>Added On</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th> Wallet</th>
                            <th>Category</th>
                            <th>Actions</th>
                            <!-- <th>Delete</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.Records)
                        {
                            <tr class="card-shadow">

                                <td><span class="badge badge-outline-primary float-left" data-toggle="tooltip" data-placement="bottom" title="Last modified date"><i class="fa fa-calendar" aria-hidden="true"></i></span>@record.CreatedOn</td>
                                <td style="width: 25%;">@record.Description</td>
                                <td>
                                    @if (record.Type == RecordTypeInputModel.Expense)
                                    {
                                        <span class="badge bg-inverse-danger">@record.Type</span>
                                    }

                                    else if (record.Type == RecordTypeInputModel.Income)
                                    {

                                        <span class="badge bg-inverse-success">@record.Type</span>
                                    }
                                </td>

                                <td>

                                    @if (record.Amount < 0)
                                    {
                                        <p class="text-danger"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }

                                    else if (record.Amount == 0)
                                    {
                                        <p class="text-secondary"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }

                                    else
                                    {
                                        <p class="text-success bold"><strong>@record.Amount.ToString("f2") @Model.Currency</strong></p>
                                    }
                                </td>
                                <td>@Model.WalletName</td>
                                <td>
                                    @if (counter % 5 == 0)
                                    {
                                        badgeClassName = "warning";
                                    }

                                    else if (counter % 3 == 0)
                                    {
                                        badgeClassName = "success";
                                    }

                                    else if (counter % 2 == 0)
                                    {
                                        badgeClassName = "primary";
                                    }

                                    else if (counter % 2 != 1)
                                    {
                                        badgeClassName = "info";
                                    }

                                    else
                                    {
                                        badgeClassName = "danger";
                                    }

                                    <a href="/Categories/Details?categoryId=@Model.CategoryId" class="badge badge-@badgeClassName">@Model.Category</a>

                                    @{counter++; }

                                </td>
                                <td>
                                    <a href="/Records/Edit?recordId=@record.Id"><span class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit record"><i class="fa fa-edit fa-lg"></i></span></a>
                                    &nbsp;
                                    <a href="/Records/Delete?recordId=@record.Id"><span class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete record"><i class="fa fa-trash fa-lg"></i></span></a>

                                    <!--<span class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Edit</span>-->
                                </td>
                                <!--   <td>
                                    <a href="/Records/Delete?recordId=@record.Id"><span class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>  Delete</span></a>
                                </td>-->
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.Records.Count() == 0)
                {
                    <br />
                    <div class="alert alert-warning" role="alert">
                        <span>There are no records containing search term <strong>"@Model.SearchTerm</strong>". Please try with other search terms.</span>
                    </div>

                    <a href="javascript:history.back()"><button class="btn btn-primary">Back</button></a>
                }
                <!-- Pagination-->
                <div class="d-flex justify-content-center pt-5">
                    <nav>
                        <ul class="pagination rounded-flat pagination-success">
                            <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End Pagination-->

                <vc:get-records-by-date start-date="@Model.StartDate" end-date="@Model.EndDate" wallet-id="@Model.WalletId"></vc:get-records-by-date>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");


            $(".card-shadow").hover(
                function () {
                    $(this).addClass('shadow-sm').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-sm');
                }
            );

            // document ready
        });
    </script>


    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-addons.js"></script>
    <script src="~/js/x-editable.js"></script>
    <script src="~/js/dropify.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/jquery-file-upload.js"></script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-repeater.js"></script>

}
