@using MoneySaver.Web.ViewModels.Trades
@using MoneySaver.Web.ViewModels.Trades.Enums

@model AddTradeInputModel
@{
    this.ViewData["Title"] = "Add Trade";
}
<div class="bg-white">
    <div class="template-demo mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Investments" asp-action="AllInvestments" asp-route-id="@Model.InvestmentWalletId">Investment Wallets</a></li>
                <li class="breadcrumb-item"><a asp-controller="Investments" asp-action="Trades" asp-route-id="@Model.InvestmentWalletId">@Model.InvestmentWalletName</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>Add Trade</span></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <div class="form-inline d-flex justify-content-center h3">
            Add a new Trade
        </div>
    </div>
</div>
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-controller="Trades" asp-action="Add" asp-route-investmentwalletid="@Model.InvestmentWalletId" method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <span class="mdi mdi-copyright text-primary"></span>
                    <label asp-for="@Model.SelectedCompany.Ticker"><span class="font-weight-bold">Company</span></label>
                    <select asp-for="@Model.SelectedCompany.Ticker" class="js-example-basic-single" style="width:100%">
                        @foreach (var company in Model.Companies)
                        {
                            <option value="@company.Ticker">@company.Name (Ticker: @company.Ticker)</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="@Model.SelectedCompany.Ticker"></span>
                    <p class="pt-3 text-muted">Couldn't find the company you've searched? <a asp-controller="Companies" asp-action="Add" asp-route-investmentwalletid="@Model.InvestmentWalletId">Add new company</a></p>
                </div>
                <div class="form-group">
                    <span class="mdi mdi-arrow-right-bold text-success"></span><span class="mdi mdi-arrow-left-bold text-danger"></span>
                    <label asp-for="Type"><span class="font-weight-bold">Buy / Sell</span></label>
                    <select class="js-example-basic-single" style="width:100%" asp-for="Type" placeholder="Type">
                        <option disabled selected>-- Choose Trade Type --</option>
                        @foreach (string type in Enum.GetNames(typeof(TradeType)))
                        {
                            <option>@type</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="Type"></span>
                </div>
                <div class="form-group">
                    <span class="mdi mdi-currency-usd text-primary"></span>
                    <label asp-for="@Model.Price"><span class="font-weight-bold">Price per share</span></label>
                    <input type="number" class="form-control form-control-lg" asp-for="@Model.Price" placeholder="Price per share">
                    <span class="text-danger" asp-validation-for="@Model.Price"></span>
                </div>
                <div class="form-group">
                    <span class="mdi mdi-hexagon-multiple text-primary"></span>
                    <label asp-for="@Model.Quantity"><span class="font-weight-bold">Quantity</span></label>
                    <input type="number" class="form-control form-control-lg" asp-for="@Model.Quantity" placeholder="Quantity">
                    <span class="text-danger" asp-validation-for="@Model.Quantity"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-sm mr-2 mdi mdi-check text-light">
                    Add Trade
                </button>
            </form>
        </div>
    </div>

@section Scripts {
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/js/select2.js"></script>
}