@using MoneySaver.Common
@using Microsoft.AspNetCore.Identity
@using MoneySaver.Data.Models
@using System
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Money Saver - your web friend on the way of the financial freedom!" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.addons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/horizontal-layout/style.css" asp-append-version="true">
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet" asp-append-version="true">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="~/css/horizontal-layout/templatemo.css" asp-append-version="true">
    <!-- endinject -->
    <!--<link rel="stylesheet" href="~/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />-->
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">
            <nav class="navbar top-navbar col-lg-12 col-12 p-0">
                <div class="nav-top flex-grow-1">
                    <div class="container d-flex flex-row h-100 align-items-center">
                        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                            <a class="navbar-brand brand-logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="big-logo" src="~/images/logo-big_money_saver_horizontal.png" alt="Money Saver Logo" /></a>
                            <a class="navbar-brand brand-logo-mini" asp-area="" asp-controller="Home" asp-action="Index"><img class="small-logo" src="~/images/logo-mini-money-saver.png" alt="Money Saver Logo" /></a>
                        </div>
                        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end flex-grow-1">
                            @if (this.SignInManager.IsSignedIn(this.User))
                            {
                                <a class="nav-link text-primary" style="font-size: 15px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@this.User.Identity.Name</a>
                          
                            }
                            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                                <span class="mdi mdi-menu"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="bottom-navbar">
                <div class="container">
                    <ul class="nav page-navigation">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="mdi mdi-home-outline menu-icon"></i>
                                <span class="menu-title">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Wallets" asp-action="AllWallets">
                                <i class="mdi mdi-wallet menu-icon"></i>
                                <span class="menu-title">Wallets</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ToDoLists" asp-action="AllLists">
                                <i class="mdi mdi-format-list-checks menu-icon"></i>
                                <span class="menu-title">ToDo Lists</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Investments" asp-action="AllInvestments" class="nav-link">
                                <i class="mdi mdi-chart-areaspline menu-icon"></i>
                                <span class="menu-title">Investments</span>
                            </a>
                        </li>
                        @if (this.SignInManager.IsSignedIn(this.User))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="mdi mdi-image-filter menu-icon"></i>
                                    <span class="menu-title">Account</span>
                                    <i class="menu-arrow"></i>
                                </a>

                                <div class="submenu">
                                    <ul class="submenu-item">
                                        <li><a class="nav-link" href="/Identity/Account/Manage/"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                                <i class="mdi mdi-logout menu-icon"></i> Logout
                                            </a>
                                    </ul>
                                </div>
                            </li>
                            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li class="nav-item">
                                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin" class="nav-link">
                                        <i class="mdi mdi-view-dashboard menu-icon"></i>
                                        <span class="menu-title">Administration</span>
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/Identity/Account/Login" class="nav-link">
                                    <i class="mdi mdi-login menu-icon"></i>
                                    <span class="menu-title">Login</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Identity/Account/Register" class="nav-link">
                                    <i class="mdi mdi-account-plus menu-icon"></i>
                                    <span class="menu-title">Register</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">
                                <i class="mdi mdi-information-outline menu-icon"></i>
                                <span class="menu-title">About</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <div>
                    <!-- content-wrapper ends -->
                    <footer class="footer">
                        <div class="w-100 clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © @DateTime.Now.Year <a href="/" class="text-primary">Money Saver</a>.</span>
                            <div class="d-block text-center text-sm-left d-sm-inline-block">
                                <ul class="social-icon">
                                    <li class="list-inline-item m-0">
                                        <a class="text-primary" target="_blank" href="https://www.linkedin.com/in/vasil-dimitrov-426abb146/">
                                            <i class='mdi mdi-linkedin-box mdi-24px'></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a class="text-primary" target="_blank" href="https://www.facebook.com/vbdimitrov/">
                                            <i class='mdi mdi-facebook-box mdi-24px'></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a class="text-primary" target="_blank" href="https://github.com/VasilDimitroff">
                                            <i class='mdi mdi-github-box mdi-24px'></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a class="text-primary" target="_blank" href="mailto:v.b.dimitrow@gmail.com">
                                            <i class='mdi mdi-email mdi-24px'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <span class="float-none float-sm-right d-block pt-lg-4 pt-md-4 pt-sm-4 mt-sm-0 text-center"><a class="text-primary" href="https://github.com/VasilDimitroff/SoftUni-CSharp-Web-ASP.NET" target="_blank">GitHub Repository of Money Saver</a></span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js" asp-append-version="true"></script>
    <script src="~/js/template.js" asp-append-version="true"></script>
    <script src="~/js/settings.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
