@using MoneySaver.Web.ViewModels.Wallets
@model AddWalletInputModel
@{
    this.ViewData["Title"] = "Add Wallet";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@this.ViewData["Title"]</h4>
            <p class="card-description">
                Add a new wallet to account
            </p>
            <form class="forms-sample" asp-controller="Wallets" asp-action="Add" method="post">
                <div class="form-group">
                    <span class="mdi mdi-lead-pencil text-primary"></span>
                    <label asp-for="Name"><span class="font-weight-bold">Name</span></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Name" placeholder="Of example: Home Wallet, Bussiness Wallet">
                </div>
                <div class="form-group">
                    <label for="@Model.CurrencyId">Currency</label>
                    <select asp-for="@Model.CurrencyId" class="js-example-basic-single" style="width:100%">
                        <option disabled selected>-- Choose currency for your wallet --</option>
                        @foreach (var currency in Model.Currencies)
                        {
                            <option value="@currency.CurrencyId">@currency.Name (@currency.Code)</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <span class="mdi mdi-currency-usd text-primary"></span>
                    <label asp-for="Amount"><span class="font-weight-bold">Amount</span></label>
                    <input type="number" class="form-control form-control-lg" asp-for="Amount" placeholder="Enter initial amount of the wallet" value="Enter amount">
                </div>
                <input type="hidden" asp-for="ApplicationUserId">
                <button type="submit" class="btn btn-primary btn-sm mr-2">
                    Submit
                </button>
                <vc:back-button></vc:back-button>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <!-- it make sidebar not collapsable
    <script src="~/js/template.js"></script>
    end of script-->
    <script src="~/js/settings.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/file-upload.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/select2.js"></script>
}