@using MoneySaver.Web.ViewModels.Wallets
@using System.Globalization


@model StatisticsWalletViewModel
@{
    this.ViewData["Title"] = "Categories - " + Model.WalletName;
    string badgeClassName = string.Empty;
}
<!-- partial -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Categories - <a style="text-decoration: none;"  asp-controller="Wallets" asp-action="Details" asp-route-id="@Model.WalletId">@Model.WalletName</a></h4>
        @*<p><i class="fa fa-wallet"></i>Current amount of @Model.WalletName:</p>
            <br />
            @if (Model.TotalAmount < 0)
            {
                badgeClassName = "danger";
            }

            else if (Model.TotalAmount == 0)
            {
                badgeClassName = "secondary";
            }

            else
            {
                badgeClassName = "success";
            }
        <h2> <span class="text-@badgeClassName">@Model.TotalAmount @Model.Currency</span></h2>*@
        <br /> <br />
        <div class="col-12">
            <div class="row pb-2">
                <div class="pr-1">
                    <vc:add-record wallet-id="@Model.WalletId"></vc:add-record>
                </div>
                <div class="pr-1">
                    <vc:add-category wallet-id="@Model.WalletId"></vc:add-category>
                </div>
                <vc:all-records-by-wallet wallet-id="@Model.WalletId"></vc:all-records-by-wallet>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="order-listing" class="table text-center table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Records</th>
                            <th>Incomes</th>
                            <th>Expenses</th>
                            <th>Last Added</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr class="card-shadow" onclick="window.location = '/Categories/Edit?id=@category.Id&walletId=@Model.WalletId'">
                                <td><a href="/Categories/Details/@category.Id" class="badge badge-@category.BadgeColor.ToString().ToLower()">@category.Name</a></td>
                                <td>
                                    <a href="/Categories/Details/@category.Id"><span class="badge badge-warning text-light">@category.TotalRecordsCount</span></a>
                                </td>

                                <td>
                                    @if (category.TotalIncomesAmount == 0)
                                    {
                                        badgeClassName = "secondary";
                                    }

                                    else
                                    {
                                        badgeClassName = "success";
                                    }
                                    <span class="text-@badgeClassName">
                                        <strong>
                                            @if (category.TotalIncomesAmount > 0)
                                            {
                                                <span>+</span>
                                            }

                                            @category.TotalIncomesAmount @Model.Currency
                                        </strong>
                                    </span>
                                </td>
                                <td>
                                    @if (category.TotalExpensesAmount == 0)
                                    {
                                        badgeClassName = "secondary";
                                    }

                                    else
                                    {
                                        badgeClassName = "danger";
                                    }
                                    <span class="text-@badgeClassName"><strong>@category.TotalExpensesAmount @Model.Currency</strong></span>
                                </td>
                                <td><span class="badge badge-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Last added on"> @Model.ModifiedOn</span></td>


                                <td>
                                    <vc:edit-category category-id="@category.Id" wallet-id="@Model.WalletId"></vc:edit-category>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="font-weight-bolder"><span class="badge badge-outline-dark">Total:</span></td>
                            <td><a href="/Wallets/Records/@Model.WalletId"><span class="badge badge-outline-warning">@Model.RecordsCount</span></a></td>
                            <td>
                                @if (Model.Incomes == 0)
                                {
                                    badgeClassName = "secondary";
                                }

                                else
                                {
                                    badgeClassName = "success";
                                }
                                <span class="text-@badgeClassName font-weight-bolder badge badge-outline-@badgeClassName">
                                    @if (@Model.Incomes > 0)
                                    {
                                        <span>+</span>
                                    } @Model.Incomes @Model.Currency
                                </span>
                            </td>
                            <td>
                                @if (Model.Outcomes == 0)
                                {
                                    badgeClassName = "secondary";
                                }

                                else
                                {
                                    badgeClassName = "danger";
                                }
                                <span class="text-@badgeClassName font-weight-bolder badge badge-outline-@badgeClassName">@Model.Outcomes @Model.Currency</span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                @if (Model.Categories.Count() == 0)
                {
                    <br />
                    <div class="alert alert-warning" role="alert">
                        <span>There are no categories in wallet <strong>"@Model.WalletName</strong>".</span>
                    </div>


                }
                <br />
                <vc:back-button></vc:back-button>
                <!-- Pagination-->
                <!-- End Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");


            $(".card-shadow").hover(
                function () {
                    $(this).addClass('shadow-sm').css('cursor', 'pointer');
                }, function () {
                    $(this).removeClass('shadow-sm');
                }
            );

            // document ready
        });

    </script>
}
