@using MoneySaver.Web.ViewModels.Wallets
@using System.Globalization
@using MoneySaver.Web.ViewModels.Records.Enums

@model WalletSearchResultViewModel
@{
    this.ViewData["Title"] = "All Records - " + Model.Wallet;
}

<!-- partial -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@this.ViewData["Title"] </h4>


        @* <vc:wallet-statistics id="@Model.WalletId"></vc:wallet-statistics>*@
        @* <vc:add-category wallet-id="@Model.WalletId"></vc:add-category>*@
        <br />
        <div class="col-12">
            <div class="btn-group mr-2">
                <vc:add-record wallet-id="@Model.WalletId"></vc:add-record>
            </div>
            <div class="btn-group mr-2">
                <vc:get-records-by-date start-date="@Model.StartDate" end-date="@Model.EndDate" id="@Model.WalletId"></vc:get-records-by-date>
            </div>
            <div class="btn-group mr-2">
                <vc:search-record search-term="@Model.SearchTerm" wallet-id="@Model.WalletId"></vc:search-record>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="order-listing" class="table text-center table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th> Wallet</th>
                            <th>Category</th>
                            <th>Edit/Delete</th>
                            <!-- <th>Delete</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.Records)
                        {

                            <tr class="card-shadow" onclick="window.location='/Records/Edit?id=@record.Id&walletId=@Model.WalletId'">
                                    <td><span class="badge badge-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Create/Modified date">@record.CreatedOn</span></td>
                                    <td style="width: 25%;">@record.Description</td>
                                    <td>
                                        @if (record.Type == RecordTypeInputModel.Expense)
                                        {
                                            <span class="badge bg-inverse-danger"><span class="mdi mdi-arrow-left-bold text-danger"></span> @record.Type</span>
                                        }

                                        else if (record.Type == RecordTypeInputModel.Income)
                                        {

                                            <span class="badge bg-inverse-success"><span class="mdi mdi-arrow-right-bold text-success"></span> @record.Type</span>
                                        }
                                    </td>

                                    <td>

                                        @if (record.Amount < 0)
                                        {
                                            <p class="text-danger"><strong>@record.Amount.ToString("f2") @record.Currency</strong></p>
                                        }

                                        else if (record.Amount == 0)
                                        {
                                            <p class="text-secondary"><strong>@record.Amount.ToString("f2") @record.Currency</strong></p>
                                        }

                                        else
                                        {
                                            <p class="text-success bold"><strong>@record.Amount.ToString("f2") @record.Currency</strong></p>
                                        }
                                    </td>
                                    <td>@record.Wallet</td>
                                    <td>
                                        <a href="/Categories/Details/@record.CategoryId" class="badge badge-@record.BadgeColor.ToString().ToLower()">@record.Category</a>
                                    </td>
                                    <td>

                                        <vc:edit-record record-id="@record.Id" wallet-id="@Model.WalletId"></vc:edit-record>
                                    </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <br />

                @if (Model.Records.Count() == 0)
                {
                    <br />
                    <div class="alert alert-warning" role="alert">
                        <span>No records found</span>
                    </div>
                }

                <vc:back-button></vc:back-button>
                <!-- Pagination-->
                <div style="display: inline;">
                    <partial name="_DateSortedPagingPartial" model="@Model" />
                    <!-- End Pagination-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
@section Scripts {
    <script>
                    $(document).ready(function () {
                        // executes when HTML-Document is loaded and DOM is ready
                        console.log("document is ready");


                        $(".card-shadow").hover(
                            function () {
                                $(this).addClass('shadow-sm').css('cursor', 'pointer');
                            }, function () {
                                $(this).removeClass('shadow-sm');
                            }
                        );

                        // document ready
                    });
    </script>

    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-addons.js"></script>
    <script src="~/js/x-editable.js"></script>
    <script src="~/js/dropify.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/jquery-file-upload.js"></script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-repeater.js"></script>

}
