@using MoneySaver.Web.ViewModels.Home
@using MoneySaver.Web.ViewModels.Trades.Enums
@using System.Globalization
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home";
    string badgeClassName = "success";
    this.ViewData["ReturnUrl"] = "/";
}
<style>
    .stats-link:link {
        text-decoration: none;
    }

    .stats-link:hover {
        opacity: 0.8;
    }
    </style>

<div class="row mb-4">
    <div class="col-12">
        <div class="form-inline d-flex justify-content-center h3">
            Account Overview
        </div>
    </div>
</div>
<div class="row">
        <a asp-controller="Wallets" asp-action="AllWallets" class="col-md-6 col-lg-3 grid-margin stretch-card stats-link">
            <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
                <div class="card-body">
                    <h6 class="font-weight-normal">Total Incomes</h6>
                    <h2 class="mb-0">@Model.TotalAccountIncomes records</h2>
                </div>
            </div>
        </a>
    <a asp-controller="Wallets" asp-action="AllWallets" class="col-md-6 col-lg-3 grid-margin stretch-card stats-link">
        <div class="card bg-gradient-danger text-white text-center card-shadow-danger">
            <div class="card-body">
                <h6 class="font-weight-normal">Total Expenses</h6>
                <h2 class="mb-0">@Model.TotalAccountExpenses records</h2>
            </div>
        </div>
    </a>
    <a asp-controller="Investments" asp-action="AllInvestments" class="col-md-6 col-lg-3 grid-margin stretch-card stats-link">
        <div class="card bg-gradient-warning text-white text-center card-shadow-warning">
            <div class="card-body">
                <h6 class="font-weight-normal">Total Holdings</h6>
                <h2 class="mb-0">@Model.TotalStockHoldings shares</h2>
            </div>
        </div>
    </a>
    <a asp-controller="Investments" asp-action="AllInvestments" class="col-md-6 col-lg-3 grid-margin stretch-card stats-link">
        <div class="card bg-gradient-info text-white text-center card-shadow-info">
            <div class="card-body">
                <h6 class="font-weight-normal">Total Trades</h6>
                <h2 class="mb-0">@Model.TotalAccountTrades trades</h2>
            </div>
        </div>
    </a>
</div>
<div class="row">
    <div class="col-12 col-sm-12 grid-margin grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-primary"><span class="mdi mdi-view-list text-primary"></span></span> Last 10 records</h4>
                <div class="table-responsive">
                    <table class="table text-center table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="pt-1">
                                    Date
                                </th>
                                <th class="pt-1">
                                    Description
                                </th>
                                <th class="pt-1">
                                    Amount
                                </th>
                                <th class="pt-1">
                                    Category
                                </th>
                                <th class="pt-1">
                                    Wallet
                                </th>
                                <th class="pt-1">
                                    Edit/Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var record in Model.AccountRecords)
                            {
                                <tr class="card-shadow">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="badge badge-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Added on"> @record.CreatedOn</span>
                                        </div>
                                    </td>
                                    <td>
                                        @if (record.Description.Length > 25)
                                        {
                                            string descriptionExcerpt = record.Description.Substring(0, 25) + "...";
                                            record.Description = descriptionExcerpt;
                                        }

                                        @record.Description
                                    </td>
                                    <td>
                                        @if (record.Amount < 0)
                                        {
                                            badgeClassName = "danger";
                                        }

                                        else if (record.Amount == 0)
                                        {
                                            badgeClassName = "secondary";
                                        }

                                        else
                                        {
                                            badgeClassName = "success";
                                        }
                                        <p class="text-@badgeClassName font-weight-bold">@record.Amount @record.CurrencyCode</p>
                                    </td>
                                    <td><a asp-controller="Categories" asp-action="Details" asp-route-id="@record.CategoryId" class="badge badge-@record.CategoryBadgeColor.ToString().ToLower()">@record.CategoryName</a></td>
                                    <td>

                                        <a asp-controller="Wallets" asp-action="Details" asp-route-id="@record.WalletId" class="badge badge-primary"> @record.WalletName</a>

                                    </td>
                                    <td>
                                        <vc:edit-record record-id="@record.Id" wallet-id="@record.WalletId"></vc:edit-record>
                                        <vc:delete-record-small-button record-id="@record.Id"></vc:delete-record-small-button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    @if (Model.AccountRecords.Count() < 1)
                    {
                        <div class="input-group-sm mr-sm-1 mb-0">
                            <div class="alert alert-warning" role="alert">
                                <span>No records yet</span>
                            </div>
                        </div>
                    }
                    <div class="btn-group form-inline">
                        <div class="input-group-sm mr-sm-1 mb-0 small">
                            <a class="btn btn-sm btn-primary" asp-controller="Wallets" asp-action="AllWallets" type="button"><i class="mdi mdi-wallet"></i> Go to Wallets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-12 col-sm-12 grid-margin grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-success"><span class="mdi mdi-arrow-right-bold text-success"></span></span> Last 30 days incomes</h4>
                <div class="table-responsive">
                    <table class="table text-center table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="pt-1 pl-2">
                                    <span class="small font-weight-bold">Category</span>
                                </th>
                                <th class="pt-1">
                                    <span class="small font-weight-bold">Incomes Amount</span>
                                </th>
                                <th class="pt-1">
                                    <span class="small font-weight-bold">%</span>
                                </th>
                                <th class="pt-1">
                                    <span class="small font-weight-bold">Wallet</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.CategoriesLast30DaysIncomes.Where(c => c.TotalIncomesLast30days != 0).OrderByDescending(c => c.TotalIncomesLast30days))
                            {
                                <tr class="card-shadow">
                                    <td class="py-1">
                                        <div class="d-flex align-items-center">
                                            <div class="ml-3">
                                                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.CategoryId" class="mb-2 badge badge-@category.BadgeColor.ToString().ToLower()">@category.CategoryName</a>
                                                <p class="text-muted">@category.TotalIncomeRecordsLast30Days incomes</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @if (category.TotalIncomesLast30days < 0)
                                        {
                                            badgeClassName = "danger";
                                        }

                                        else if (category.TotalIncomesLast30days == 0)
                                        {
                                            badgeClassName = "secondary";
                                        }

                                        else
                                        {
                                            badgeClassName = "success";
                                        }
                                        <p class="text-@badgeClassName font-weight-bold">
                                            @category.TotalIncomesLast30days  @category.CurrencyCode
                                        </p>
                                    </td>
                                    <td>
                                        <p class="font-weight-bold text-info" style="white-space: nowrap;">

                                            @{
                                                decimal percentOfAllWalletIncomes = 0;

                                                if (Model.TotalAccountIncomesLast30Days != 0)
                                                {
                                                    percentOfAllWalletIncomes = Math.Round((category.TotalIncomesLast30days / Model.TotalAccountIncomesLast30Days * 100), 1);
                                                }
                                            }

                                            @percentOfAllWalletIncomes %

                                        </p>
                                    </td>
                                    <td>
                                        <a asp-controller="Wallets" asp-action="Details" asp-route-id="@category.WalletId" class="badge badge-primary text-light">@category.WalletName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.CategoriesLast30DaysIncomes.Count() < 1)
                    {
                        <br />
                            <div class="input-group-sm mr-sm-1 mb-0">
                                <br />
                                <div class="alert alert-warning" role="alert">
                                    <span>No data yet</span>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12 col-sm-12 grid-margin grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-danger"><span class="mdi mdi-arrow-left-bold text-danger"></span> </span> Last 30 days expenses</h4>
                <div class="table-responsive">
                    <table class="table text-center table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="pt-1">
                                    <span class="small font-weight-bold">Category</span>
                                </th>
                                <th class="pt-1">
                                    <span class="small font-weight-bold">Expenses Amount</span>
                                </th>
                                <th class="pt-1">
                                    <span class="small font-weight-bold"> %</span>
                                </th>
                                <th class="pt-1">
                                    <span class="small font-weight-bold"> Wallet</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.CategoriesLast30DaysExpenses.Where(c => c.TotalExpensesLast30Days != 0).OrderBy(c => c.TotalExpensesLast30Days))
                            {
                                <tr class="card-shadow">
                                    <td class="py-1 pl-0">
                                        <div class="d-flex align-items-center">
                                            <div class="ml-3">
                                                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.CategoryId" class="mb-2 badge badge-@category.BadgeColor.ToString().ToLower()">@category.CategoryName</a>
                                                <p class="text-muted">@category.TotalExpenseRecordsLast30Days expenses</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @if (category.TotalExpensesLast30Days < 0)
                                        {
                                            badgeClassName = "danger";
                                        }

                                        else if (category.TotalExpensesLast30Days == 0)
                                        {
                                            badgeClassName = "secondary";
                                        }

                                        else
                                        {
                                            badgeClassName = "success";
                                        }
                                        <p class="text-@badgeClassName font-weight-bold">@category.TotalExpensesLast30Days @category.CurrencyCode</p>
                                    </td>
                                    <td>
                                        <p class="font-weight-bold text-info" style="white-space: nowrap;">

                                            @{
                                                decimal percentOfAllWalletExpenses = 0;

                                                if (Model.TotalAccountExpensesLast30Days != 0)
                                                {
                                                    percentOfAllWalletExpenses =
                                                        Math.Round(
                                                            (Math.Abs(category.TotalExpensesLast30Days) / Math.Abs(Model.TotalAccountExpensesLast30Days) * 100)
                                                            , 1);
                                                }
                                            }

                                            @percentOfAllWalletExpenses %

                                        </p>
                                    </td>
                                    <td>

                                        <a asp-controller="Wallets" asp-action="Details" asp-route-id="@category.WalletId" class="badge badge-primary text-light">@category.WalletName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.CategoriesLast30DaysExpenses.Count() < 1)
                    {<br />
                        <div class="input-group-sm mr-sm-1 mb-0">
                            <br />
                            <div class="alert alert-warning" role="alert">
                                <span>No data yet</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 grid-margin stretch-card" id="active-lists">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-primary"><span class="mdi mdi-format-list-checks text-primary"></span></span> Active Todo Lists</h4>
                <div class="list-wrapper">
                    @if (Model.ActiveToDoLists.Count() < 1)
                    {
                        <div class="input-group-sm mr-sm-1 mb-0">
                            <div class="alert alert-warning" role="alert">
                                <span>No To Do lists yet</span>
                            </div>
                        </div>
                    }
                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        @foreach (var list in Model.ActiveToDoLists.Take(5))
                        {
                            <li>
                                <span class="form-check">
                                    <form class="form-inline" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="ToDoLists" asp-action="ChangeListStatus" asp-route-id="@list.Id" data-toggle="tooltip" data-placement="bottom" title="Mark all list as completed">
                                        <button type="submit" style="width: 30px; height: 30px;" class="mdi mdi-check btn btn-outline-primary btn-sm mr-3 pr-3 pl-2 pb-1 pt-1"></button>
                                        @list.Name
                                    </form>
                                </span>
                                <div class="col d-flex justify-content-end">
                                    <a asp-controller="ToDoLists" asp-action="Edit" asp-route-id="@list.Id"><span class="mdi mdi-pencil btn btn-sm btn-outline-info pr-4 pl-2 mb-1" style="width: 20px; height: 30px; margin-top: 3px;" data-toggle="tooltip" data-placement="bottom" title="Edit list"></span></a>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="row mt-3 small">
                        <a asp-controller="ToDoLists" asp-action="Add"><span class="mr-4" data-toggle="tooltip" data-placement="bottom" title="Add list"><i class="mdi mdi-plus"></i> Add</span></a>
                        <a asp-controller="ToDoLists" asp-action="AllLists"><span data-toggle="tooltip" data-placement="bottom" title="All lists"><i class="mdi mdi-format-list-checks"></i> All Lists</span></a>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-primary"><span class="mdi mdi-wallet text-primary"></span></span> Wallets</h4>
                <div class="list-wrapper">
                    @if (Model.Wallets.Count() < 1)
                    {
                        <div class="input-group-sm mr-sm-1 mb-0">
                            <div class="alert alert-warning" role="alert">
                                <span>No wallets yet</span>
                            </div>
                        </div>
                    }
                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        @foreach (var wallet in Model.Wallets.Take(3))
                        {
                            string colorAmount = "danger";
                            <li>
                                @if (wallet.Amount > 0)
                                {
                                    colorAmount = "success";
                                }
                                else if (wallet.Amount == 0)
                                {
                                    colorAmount = "muted";
                                }
                                <span class="form-check">
                                    @wallet.Name
                                    <p class="small text-muted">Balance: <span class="text-@colorAmount small">@wallet.Amount @wallet.CurrencyCode</span></p>
                                </span>

                                <div class="col d-flex justify-content-end">
                                    <a asp-controller="Wallets" asp-action="Details" asp-route-id="@wallet.Id" class="mdi mdi-directions btn btn-sm btn-outline-primary pr-4 pl-2 mb-1 mr-1" style="width: 20px; height: 30px; margin-top: 3px;"></a>
                                    <a asp-controller="Wallets" asp-action="Edit" asp-route-id="@wallet.Id"><span class="mdi mdi-pencil btn btn-sm btn-outline-info pr-4 pl-2 mb-1" style="width: 20px; height: 30px; margin-top: 3px;" data-toggle="tooltip" data-placement="bottom" title="Edit wallet"></span></a>
                                </div>

                            </li>
                        }
                    </ul>

                    <div class="row mt-3 small">
                        <a asp-controller="Wallets" asp-action="Add"><span class="mr-4" data-toggle="tooltip" data-placement="bottom" title="Add list"><i class="mdi mdi-plus"></i> Add</span></a>
                        <a asp-controller="Wallets" asp-action="AllWallets"><span data-toggle="tooltip" data-placement="bottom" title="All lists"><i class="mdi mdi-format-list-checks"></i> All Wallets</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-primary"><span class="mdi mdi-chart-areaspline text-primary"></span></span> Investment Wallets</h4>
                <div class="list-wrapper">
                    @if (Model.InvestmentWallets.Count() < 1)
                    {
                        <div class="input-group-sm mr-sm-1 mb-0">
                            <div class="alert alert-warning" role="alert">
                                <span>No investment wallets yet</span>
                            </div>
                        </div>
                    }
                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        @foreach (var wallet in Model.InvestmentWallets.Take(3))
                        {
                            string colorAmount = "danger";
                            <li>
                                @if (wallet.Amount > 0)
                                {
                                    colorAmount = "success";
                                }
                                else if (wallet.Amount == 0)
                                {
                                    colorAmount = "muted";
                                }
                                <span class="form-check">
                                    @wallet.Name
                                    <p class="small text-muted">Profit: <span class="text-@colorAmount small">@wallet.Amount @wallet.CurrencyCode</span></p>
                                </span>

                                <div class="col d-flex justify-content-end">
                                    <a asp-controller="Investments" asp-action="Trades" asp-route-id="@wallet.Id" class="mdi mdi-directions btn btn-sm btn-outline-primary pr-4 pl-2 mb-1 mr-1" style="width: 20px; height: 30px; margin-top: 3px;"></a>
                                    <a asp-controller="Investments" asp-action="EditWallet" asp-route-id="@wallet.Id"><span class="mdi mdi-pencil btn btn-sm btn-outline-info pr-4 pl-2 mb-1" style="width: 20px; height: 30px; margin-top: 3px;" data-toggle="tooltip" data-placement="bottom" title="Edit wallet"></span></a>
                                </div>

                            </li>
                        }
                    </ul>

                    <div class="row mt-3 small">
                        <a asp-controller="Investments" asp-action="AddWallet"><span class="mr-4" data-toggle="tooltip" data-placement="bottom" title="Add list"><i class="mdi mdi-plus"></i> Add</span></a>
                        <a asp-controller="Investments" asp-action="AllInvestments"><span data-toggle="tooltip" data-placement="bottom" title="All lists"><i class="mdi mdi-format-list-checks"></i> All Investments</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 grid-margin grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-primary"><span class="mdi mdi-repeat text-primary"></span></span> Last 10 trades</h4>
                <div class="table-responsive">
                    <table id="order-listing" class="table text-center table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Trade Date</th>
                                <th>Company</th>
                                <th>Type</th>
                                <th>Price Per Share</th>
                                <th>Quantity</th>
                                <th>Total Amount</th>
                                <th>Investment Wallet</th>
                                <th>Edit/Delete</th>
                                <!-- <th>Delete</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var trade in Model.AccountTrades)
                            {

                                <tr class="card-shadow">
                                    <td><span class="badge badge-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Create date">@trade.CreatedOn.ToString("dddd, dd MMMM yyyy", CultureInfo.InvariantCulture)</span></td>
                                    <td style="max-width: 25%;">@trade.Company.Name (@trade.Company.Ticker) </td>
                                    <td>
                                        @if (trade.Type == TradeType.Buy)
                                        {
                                            <span class="badge bg-inverse-danger"><span class="mdi mdi-arrow-left-bold text-danger"></span> @trade.Type</span>
                                        }

                                        else if (trade.Type == TradeType.Sell)
                                        {

                                            <span class="badge bg-inverse-success"><span class="mdi mdi-arrow-right-bold text-success"></span> @trade.Type</span>
                                        }
                                    </td>

                                    <td>

                                        @if (trade.Price < 0)
                                        {
                                            <p class="text-danger"><strong>@trade.Price.ToString("f2") @trade.Currency.Code</strong></p>
                                        }

                                        else if (trade.Price == 0)
                                        {
                                            <p class="text-secondary"><strong>@trade.Price.ToString("f2") @trade.Currency.Code</strong></p>
                                        }

                                        else
                                        {
                                            <p class="text-success bold"><strong>+@trade.Price.ToString("f2") @trade.Currency.Code</strong></p>
                                        }
                                    </td>
                                    <td>
                                        @if (trade.Type == TradeType.Buy)
                                        {
                                            <span class="text-success font-weight-bold">+@trade.StockQuantity shares</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger font-weight-bold">-@trade.StockQuantity shares</span>
                                        }

                                    </td>
                                    <td>
                                        @if (trade.TotalAmount < 0)
                                        {
                                            <p class="text-danger"><strong>@trade.TotalAmount @trade.Currency.Code</strong></p>
                                        }

                                        else if (trade.TotalAmount == 0)
                                        {
                                            <p class="text-secondary"><strong>@trade.TotalAmount @trade.Currency.Code</strong></p>
                                        }

                                        else
                                        {
                                            <p class="text-success bold"><strong>+@trade.TotalAmount @trade.Currency.Code</strong></p>
                                        }
                                    </td>
                                    <td><a asp-controller="Investments" asp-action="Trades" asp-route-id="@trade.InvestmentWalletId" class="badge badge-primary">@trade.InvestmentWalletName</a></td>
                                    <td class="m-0 pl-2 pr-0">
                                        <a asp-controller="Trades" asp-action="Edit" asp-route-id="@trade.Id"><span class="btn btn-outline-info btn-sm float-left" data-toggle="tooltip" data-placement="bottom" title="Edit trade"><i class="mdi mdi-pencil"></i></span></a>
                                        <button type="button" class="btn btn-outline-danger btn-sm" style="display: inline" data-placement="bottom" title="Delete trade" data-toggle="modal" data-target="#defaultModal-@trade.Id"><i class="mdi mdi-delete"></i></button>
                                        <div class="modal fade" id="defaultModal-@trade.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-@trade.Id" aria-hidden="true">
                                            <form method="post" asp-controller="Trades" asp-action="Delete" asp-route-id="@trade.Id">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-danger" id="exampleModalLabel-@trade.Id">Note! You're preparing to delete a trade</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete this trade from <span class="font-weight-bold">@trade.InvestmentWalletName (@trade.Currency.Code)</span>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                            <button type="submit" class="btn btn-outline-danger">Yes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    @if (Model.AccountTrades.Count() == 0)
                    {
                        <br />
                        <div class="alert alert-warning" role="alert">
                            <span>No trades yet</span>
                        </div>
                    }
                    <br />
                    <div class="btn-group form-inline">
                        <div class="input-group-sm mr-sm-1 mb-0 small">
                            <a class="btn btn-sm btn-primary" asp-controller="Investments" asp-action="AllInvestments" type="button"><i class="mdi mdi-chart-areaspline"></i> Go to Investment Wallets</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-lg-6 col-12 col-sm-12 grid-margin grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-primary"><span class="mdi mdi-chart-arc text-primary"></span></span> All Holdings</h4>
                <div class="table-responsive">
                    @if (Model.AccountHoldings.Count() == 0)
                    {
                        <br />
                        <div class="alert alert-warning" role="alert">
                            <span>You have no holdings!</span>
                        </div>

                    }
                    else
                    {
                        <table id="order-listing" class="table text-center table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Holdings</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var company in Model.AccountHoldings)
                                {

                                    <tr class="card-shadow">

                                        <td>@company.Name (@company.Ticker) <span class="text-small text-muted"> (@company.BuyTrades buy trades, @company.SellTrades sell trades)</span></td>
                                        <td><span class="badge badge-outline-warning">@company.StocksHoldings shares</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-12 col-sm-12 grid-margin grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="badge bg-inverse-primary"><span class="mdi mdi-format-list-bulleted text-primary"></span></span> Categories summary</h4>
                <div class="table-responsive">
                    <table class="table text-center table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="pt-1 pl-0">
                                    Category
                                </th>
                                <th class="pt-1">
                                    Incomes
                                </th>
                                <th class="pt-1">
                                    Expenses
                                </th>
                                <th class="pt-1">
                                    Wallet
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.AccountCategories.OrderByDescending(x => x.RecordsCount).ThenBy(x => x.TotalExpenses))
                            {
                                <tr class="card-shadow" onclick="window.location='/Categories/Details/@category.CategoryId'">
                                    <td class="py-1 pl-0">
                                        <div class="d-flex align-items-center">
                                            <div class="ml-3">
                                                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.CategoryId" class="mb-2 badge badge-@category.BadgeColor.ToString().ToLower()">@category.CategoryName</a>
                                                <p class="text-muted text-small">@category.RecordsCount records</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @if (category.TotalIncomes < 0)
                                        {
                                            badgeClassName = "danger";
                                        }

                                        else if (category.TotalIncomes == 0)
                                        {
                                            badgeClassName = "secondary";
                                        }

                                        else
                                        {
                                            badgeClassName = "success";
                                        }
                                        <p class="text-@badgeClassName font-weight-bold">@category.TotalIncomes @category.CurrencyCode</p>
                                    </td>
                                    <td>
                                        @if (category.TotalExpenses < 0)
                                        {
                                            badgeClassName = "danger";
                                        }

                                        else if (category.TotalExpenses == 0)
                                        {
                                            badgeClassName = "secondary";
                                        }

                                        else
                                        {
                                            badgeClassName = "success";
                                        }
                                        <p class="text-@badgeClassName font-weight-bold">@category.TotalExpenses @category.CurrencyCode</p>
                                    </td>
                                    <td><a asp-controller="Wallets" asp-action="Details" asp-route-id="@category.WalletId" class="badge badge-primary">@category.WalletName</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    @if (Model.AccountCategories.Count() == 0)
                    {
                        <br />
                        <div class="input-group-sm mr-sm-1 mb-0">
                            <div class="alert alert-warning" role="alert">
                                <span>No categories in the account!</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
                @section Scripts {

                }

