@using MoneySaver.Web.ViewModels.Records.Enums
@using MoneySaver.Web.ViewModels.Categories
@using MoneySaver.Web.ViewModels.Records
@using MoneySaver.Web.ViewComponents
@using System.Linq;
@model AddRecordViewModel
@{
    this.ViewData["Title"] = "Add Record";
    Model.CreatedOn = DateTime.UtcNow;
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add record</h4>
            <p class="card-description">
                Add Record to <strong>@Model.WalletName</strong>
            </p>

            @if (Model.Categories.Count() < 1)
            {
                <div class="alert alert-primary" role="alert">In wallet @Model.WalletName are no categories yet. Create your first one.</div>
                <vc:add-category wallet-id="@Model.WalletId"></vc:add-category>
                <br/><br />
            }
        <form class="forms-sample" asp-controller="Records" asp-action="Add" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <span class="mdi mdi-tag text-primary"></span>
                <label for="Category"><span class="font-weight-bold">Category</span></label>
                <select asp-for="CategoryId"
                        asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="js-example-basic-single" style="width:100%">
                </select>
                <span class="text-danger" asp-validation-for="CategoryId"></span>
            </div>
            @* <div class="form-group">
            <label for="Category">Category</label>
            <select asp-for="CategoryId" class="js-example-basic-single" style="width:100%">
                @foreach (var category in Model.Categories)
                {
                    <option>@category.Name</option>
                }
            </select>
        </div>
            *@

            <div class="form-group">
                <span class="mdi mdi-pencil text-primary"></span>
                <label asp-for="Description"><span class="font-weight-bold">Description</span></label>
                <input type="text" class="form-control form-control-lg" asp-for="Description" placeholder="Description">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <span class="mdi mdi-arrow-right-bold text-success"></span><span class="mdi mdi-arrow-left-bold text-danger"></span>
                <label asp-for="Type"><span class="font-weight-bold">Type</span></label>
                <select class="js-example-basic-single" style="width:100%" asp-for="Type" placeholder="Type">
                    @foreach (string name in Enum.GetNames(typeof(RecordTypeInputModel)))
                    {
                        if (name == RecordTypeInputModel.Expense.ToString())
                        {
                            <option selected>@name</option>
                        }
                        else
                        {
                            <option>@name</option>
                        }
                    }
                </select>
                <span class="text-danger" asp-validation-for="Type"></span>
            </div>
            <div class="form-group">
                <span class="mdi mdi-currency-usd text-primary"></span>
                <label asp-for="Amount"><span class="font-weight-bold">Amount</span></label>
                <input type="number" class="form-control form-control-lg" asp-for="Amount" placeholder="Amount" value="Enter amount">
                <span class="text-danger" asp-validation-for="Amount"></span>
            </div>
            <div class="form-group">
                <span class="mdi mdi-calendar-clock text-primary"></span>
                <label asp-for="@Model.CreatedOn"><span class="font-weight-bold">Created On (Default is now)</span></label>
                <input type="datetime-local" class="form-control form-control-lg" asp-for="@Model.CreatedOn" placeholder="@Model.CreatedOn" value="@Model.CreatedOn.ToString()">
                <span class="text-danger" asp-validation-for="CreatedOn"></span>
            </div>
            <input type="hidden" asp-for="@Model.WalletId" />
            <span class="text-danger" asp-validation-for="WalletId"></span>
            <button type="submit" class="btn btn-primary btn-sm mr-2 mdi mdi-check text-light">
                Add
            </button>
            <vc:back-button></vc:back-button>
        </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <!-- it make sidebar not collapsable
    <script src="~/js/template.js"></script>
    end of script-->
    <script src="~/js/settings.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/file-upload.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/select2.js"></script>
}