@using MoneySaver.Web.ViewModels.Records.Enums
@using MoneySaver.Web.ViewModels.Categories
@using MoneySaver.Web.ViewModels.Records
@using MoneySaver.Web.ViewComponents
@using System.Linq;
@using System.Globalization;
@model EditRecordViewModel
@{
    this.ViewData["Title"] = "Edit Record";
    Model.OldAmount = Model.Amount;
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@ViewData["Title"]</h4>
            <p class="card-description">
                Edit record from <strong>@Model.WalletName</strong>
            </p>
            <form class="forms-sample" style="display: inline" asp-controller="Records" asp-action="Edit" method="post">
                <div class="form-group">
                    <label for="Category">Category</label>
                    <select asp-for="CategoryId"
                            asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="js-example-basic-single" style="width:100%">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input type="text" class="form-control" asp-for="Description" placeholder="Description">
                </div>
                <div class="form-group">
                    <label asp-for="Type">Type</label>
                    <select class="js-example-basic-single" style="width:100%" asp-for="Type" placeholder="Type">
                        @foreach (string name in Enum.GetNames(typeof(RecordTypeInputModel)))
                        {
                            if (name == RecordTypeInputModel.Income.ToString())
                            {
                                <option selected>@name</option>
                            }
                            else
                            {
                                <option>@name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Amount">Amount</label>
                    <input type="hidden" asp-for="@Model.OldAmount" /></input>
                    <input type="number" class="form-control" asp-for="@Model.Amount" placeholder="@Model.Amount" value="@Model.Amount">
                </div>
                <div class="form-group">
                    <label asp-for="@Model.CreatedOn">CreatedOn</label>
                    <input type="datetime-local" class="form-control" asp-for="@Model.CreatedOn" placeholder="@Model.CreatedOn">
                </div>
                <input type="hidden" asp-for="@Model.Id" /></input>
                <input type="hidden" asp-for="@Model.WalletId" /></input>
                <button type="submit" class="btn btn-primary mr-2 "><i class="mdi mdi-check btn-icon-prepend"></i> Save Changes</button>


                <a class="btn btn-light" href="javascript:history.back()" style="text-decoration: none;">Back</a>

            </form>
            <vc:delete-record record-id="@Model.Id"></vc:delete-record>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <!-- it make sidebar not collapsable
    <script src="~/js/template.js"></script>
    end of script-->
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/file-upload.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/select2.js"></script>
}